.deps
.dirstamp
.libs
#m4
autom4te.cache
aclocal.m4
config.*
Makefile.in
compile
configure
configure~
install-sh
ltmain.sh
missing
test-driver
stamp-h1
depcomp
libtool
Makefile
build-*
log*
INSTALL
Progs/CAT_[A-Za-z0-9_]*
!Progs/CAT_*.c*
tests/test_math.out
