.DS_Store
.deps
.dirstamp
.libs
.claude
#m4
autom4te.cache
aclocal.m4
config.*
.refact
Makefile.in
compile
configure
configure~
install-sh
ltmain.sh
missing
test-driver
stamp-h1
depcomp
libtool
Makefile
build*
*build
log*
INSTALL
__pycache__
*.so
*.o
*.lo
*.la
*.log
*.trs
*.egg-info
_vendor/
Progs/CAT_[A-Za-z0-9_]*
!Progs/CAT_*.c*
tests/test*
tests/*.o, *.log, *.trs
!tests/*.[ch]
!tests/Makefile.am
docs/doxygen/
cat_surface_cython/cat_surf/_*.c
